@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
:root {
  /* use root font size as a responsive unit for the size of our objects */
  font-size: min(2vw, 3vh);
  font-family: "Hammersmith One", sans-serif;
  background: url("./pngs/background.png");
  color: gold;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 3rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  cursor: pointer;
  font-size: 3rem;
  margin: 1.5rem;
}
#image-area {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25rem;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@keyframes winning-dance {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(12deg);}
  75% {transform: rotate(-12deg);}
  100% {transform: rotate(0deg);}
}
